<!DOCTYPE HTML>
<html>
    <head>
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
        <title>Merge2PDF</title>
        <link rel="stylesheet" href="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src='//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    </head>
<body>
    <div id="header" class="container">
        {% if username %}
        <p>Hello {{ username }}!</p>
        <p><a href="{{ url_for('logout') }}">logout</a></p>
        {% else %}
        <p>Hello, please login to enable direct Commons upload</p>
        <p><a href="{{ url_for('login') }}">login</a></p>
        {% endif %}
    </div>

    <div id="main_content" class="container"><div class="row">
        <div class="span12" >
        <div class='lead'>This tool gets files from a Wikimedia Commons category and
            provides a PDF to be downloaded or uploaded to commons.
        </div>
        <div class="h4"> Some features, including direct Commons upload are not yet
            available, check back soon.
        </div>

    <div id='output'>
        {% if  pdf %}
        <p class="bg-success"> The PDF was sucessfully made 
            <a href="//tools.wmflabs.org/merge2pdf/static/{{ pdf }}">Donwload PDF</a>
        </p>
        {% endif %}
    </div>
    <form class='form' method=POST>
        <div class="form-group">
            <label for="category">Category:</label>
            <input class="form-control" type="text" id="category" name="category" placeholder="Category:My category with pages" >
            <p class="help-block">Enter the category name to be turned into a PDF
            file with "Category:"</p>
        </div>
        <label for="filename">File name</label>
        <input class="form-control " type="text"  id="filename" name="filename">
        <label for="description">Description</label>
            {% raw %}
        <textarea rows="12" class="form-control"  name="description" id='description'>{{Information
            | Description    = {{en|}}
            | Date           = 
            | Source         = 
            | Author         = 
            | Permission     = 
            | Other_versions = 
            }}
            [[Category:]]
            [[Category:PDFs made with merge2pdf]]
        </textarea>
            {% endraw %}
        <p class="help-block">Enter the description of the file with license,
        permissions, category and anything else to go on the Commons page</p>

        <input type=submit class='btn btn-primary' id='create' value='Create PDF' />
    </form>
</div>
</div>
</body>
</html>
